*{
 margin: 0;
 padding: 0;
 font-family: 'Courier New', Courier, monospace;
}

.app-container{
 display: block;
 width: 100%;
}

.header-widget{
 width: 100%;
 background: #fff url('../../resources/images/bg-desktop-dark.jpg');
 background-repeat: no-repeat;
 background-size: cover;
 min-height: 300px;
 display: flex;
 flex-direction: column;
 justify-content: center;
}

.header-title{
 display: flex;
 align-items: center;
 width: 550px;
 justify-content: space-between;
 margin: 0 auto;
 padding: 25px 0;
}

.header-title > h1{
 color: #fff;
 font-size: 2.2rem;
 letter-spacing: 0.2em;
}

.header-title > img{
 flex-shrink: 0;
 height: 25px;
}
.header-title > img:hover{
 cursor: pointer;
}

.input-cont{
 width: 550px;
 margin: 0 auto;
 background:#25273c;
 display: flex;
 padding: 0 10px;
 border-radius: 4px;
 align-items: center;
}

.header-input{
 width: 525px;
 height: 30px;
 padding: 5px 10px;
 text-indent: 0em;
 background:#25273c;
 border: none;
 color: #fff;
}
.header-input:focus{
 outline: none;
}
.header-input:focus::placeholder{
 color: transparent;
}

.input-check{
  width: 1.3em;
  height: 1.3em;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid #2f3146;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
  margin-right: 5px;
}

.input-check:checked{
 background-image:url('../../resources/images/icon-check.svg'), linear-gradient(to right bottom, #72a4fb, #7b98fe, #8b89fe, #a078f8, #b662ee) ;
 background-size: contain;
 background-repeat: no-repeat;
}

.body-widget{
 background: #181824;
 min-height:calc(100vh - 300px);
 display: flex;
 justify-content: center;
}
.tod-list{
 background: #25273c;
 width: 570px;
 margin: 0 auto;
 position: absolute;
 margin-top: -70px;
 padding: 13px 0;
 box-shadow: 1px 7px 26px -5px rgba(0,0,0,0.75);
-webkit-box-shadow: 1px 7px 26px -5px rgba(0,0,0,0.75);
-moz-box-shadow: 1px 7px 26px -5px rgba(0,0,0,0.75);
border-radius: 4px;
color: #fff;
}
.todo-tab{
  position: relative;
 border-bottom: 1px solid #2f3146;
 padding: 15px 15px;
 display: flex;
 justify-content: space-between;
}
.todo-tab:hover{
  cursor: pointer;
 }
.todo-text{
  display: flex;
}
.todo-text > input{
  width: 1.3em;
  height: 1.3em;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid #2f3146;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
  margin-right: 5px;
}

.todo-text > input:checked{
 background-image:url('../../resources/images/icon-check.svg'), linear-gradient(to right bottom, #72a4fb, #7b98fe, #8b89fe, #a078f8, #b662ee) ;
 background-size: contain;
 background-repeat: no-repeat;
}
.todo-menu{
 display: flex;
 padding: 8px 10px;
 justify-content: space-between;
 color: #fff;
 opacity: .4;
 font-size: 13px;
 font-weight: bolder;
 font-family: 'Courier New', Courier, monospace;
}
.close img{
  width: 15px;
  height: 15px;
}
.close img:hover{
  cursor: pointer;
}
.dragging{
  background-image:linear-gradient(to right bottom, #72a4fb, #7b98fe, #8b89fe, #a078f8, #b662ee);
  z-index: 9999!important;
}
.draggable{
 
  z-index: 0;
}
.completed-task{
  text-decoration: line-through;
  opacity: .6;
}
.sort-tod{
 display: flex;
}
.sort-tod > li{
 list-style: none;
 padding: 0 5px;
}

.sort-tod > li:hover{
  cursor: pointer;
 }
.completed{
 display: flex;
}

.completed >li{
  list-style: none;
  padding: 0 6px;
}
.active-menu{
 color: #3dcaee;
 opacity: 1!important;
}
.footer-widget{
 color: #fff;
 margin-top: auto;
 padding: 20px 0;
 opacity: .5;
}

.light{
  background: #fff!important;
  color: #000!important;
 }
 .light > .todo-menu{
  background: #fff!important;
  color: #000!important;
 }
 .light ~ .footer-widget {
  color: #000!important;
 }

 @media screen and (max-width: 560px) {
  .header-widget{
    background: #fff url('../../resources/images/bg-mobile-dark.jpg')!important;
    background-repeat: no-repeat!important;
    background-size: cover!important;
   
   }
   .header-title{
    width: 94%!important;
    
   }
   .input-cont{
    width: 94%!important;
    padding: 0;
   }
   .header-input{
    width: 100%;
   }
   .input-check{
    margin-left: 5px;
  }
  .tod-list{
    width: 94%;
   }
   .sort-tod{
    position: absolute;
    background: #25273c;
    width: 94%;
    margin: 70px 0 auto auto;
    padding: 13px 0;
    box-shadow: 1px 7px 26px -5px rgba(0,0,0,0.75);
    -webkit-box-shadow: 1px 7px 26px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 7px 26px -5px rgba(0,0,0,0.75);
    border-radius: 4px;
    color: #fff;
    justify-content: center;
   }
 }
